<p-toast key="tst" [style]="{'white-space': 'pre-line'}"></p-toast>
<div class="grid">
  <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
    <p-panel header="Potions" [toggleable]="true">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 xl:col-12 pb-0 pl-0 pr-0">
          <p-table [value]="potions">
            <ng-template pTemplate="body" let-potion>
              <tr>
                <td style="text-align: center;">
                  <img src="assets/gifs/potions/{{potion.imagePath}}" width="32">
                </td>
                <td style="text-align: center;">
                  <span class="image-text ml-2">{{potion.gold*potion.buyQuantity}}</span>
                  <img src="assets/gifs/items/Gold_Coin.gif" width="32" style="vertical-align: middle"/>
                </td>
                <td>
                  <div>
                    <input type="text" pInputText [(ngModel)]="potion.buyQuantity" class="w-full mb-3" readonly id="buyQuantityInput"/>
                    <p-slider id="slid3" [(ngModel)]="potion.buyQuantity" class="w-full" [min]="potion.minQuantity" [max]="potion.maxQuantity"/>
                  </div>
                </td>
                <td style="text-align: center;">
                  <p-button styleClass="custom-button p-button-primary" (click)="buyPotion(potion)" [disabled]="potion.minQuantity == 0">
                    <span class="flex align-items-center font-bold">
                      Comprar
                    </span>
                  </p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
    <p-panel header="Wands" [toggleable]="true">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 xl:col-12 pb-0 pl-0 pr-0">
          <p-table [value]="wands">
            <ng-template pTemplate="body" let-item>
              <tr>
                <td style="text-align: center;">
                  <img src="assets/gifs/items/{{item.imagePath}}" width="32">
                </td>
                <td style="text-align: center;">
                  <span class="image-text ml-2">{{item.gold}}</span>
                  <img src="assets/gifs/items/Gold_Coin.gif" width="32" style="vertical-align: middle"/>
                </td>
                <td style="text-align: center;">
                  <p-button styleClass="custom-button p-button-primary" (click)="buyItem(item)" [disabled]="!item.buyable">
                    <span class="flex align-items-center font-bold">
                      Comprar
                    </span>
                  </p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
    <p-panel header="Rods" [toggleable]="true">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 xl:col-12 pb-0 pl-0 pr-0">
          <p-table [value]="rods">
            <ng-template pTemplate="body" let-item>
              <tr>
                <td style="text-align: center;">
                  <img src="assets/gifs/items/{{item.imagePath}}" width="32">
                </td>
                <td style="text-align: center;">
                  <span class="image-text ml-2">{{item.gold}}</span>
                  <img src="assets/gifs/items/Gold_Coin.gif" width="32" style="vertical-align: middle"/>
                </td>
                <td style="text-align: center;">
                  <p-button styleClass="custom-button p-button-primary" (click)="buyItem(item)" [disabled]="!item.buyable">
                    <span class="flex align-items-center font-bold">
                      Comprar
                    </span>
                  </p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-panel>
  </div>
</div>