<p-toast key="tst" [style]="{'white-space': 'pre-line'}"></p-toast>
<p-confirmPopup key="confirm2"></p-confirmPopup>
<div class="grid">
  <div class="col-12 md:col-12 pb-0" *ngIf="character.level >= 8 && character.vocationId === 1">
    <p-panel header="Escolha uma Vovação">
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 xl:col-3 pb-0">
          <button (click)="confirmVocation($event, 2)" pButton label="Knight" class="p-button-secondary w-full"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-3 xl:col-3 pb-0">
          <button (click)="confirmVocation($event, 3)" pButton label="Paladin" class="p-button-warning w-full"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-3 xl:col-3 pb-0">
          <button (click)="confirmVocation($event, 4)" pButton label="Druid" class="p-button-info w-full"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-3 xl:col-3 pb-0">
          <button (click)="confirmVocation($event, 5)" pButton label="Sorcerer" class="p-button-danger w-full"></button>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0">
    <p-panel header="Informações do Personagem" [toggleable]="true">
      <p><strong>Nome:</strong> {{ character.name }}</p>
      <p><strong>Sex:</strong> {{ character.sex ? 'Feminino' : 'Masculino' }}</p>
      <p><strong>Vocação:</strong> {{ character.vocationId === 1 ? 'Sem Vocação' : character.vocationId === 2 ? 'Knight' : character.vocationId === 3 ? 'Paladin' : character.vocationId === 4 ? 'Druid' : 'Sorcerer' }}</p>
      <p><strong>Nível:</strong> {{ character.level }}</p>
      <p><strong>Gold:</strong> {{ character.balance + (character.balance > 1000 ? ' (' + (character.balance > 1000000000 ? ((character.balance/1000000000).toFixed(2) + ' kkk') : character.balance > 1000000 ? ((character.balance/1000000).toFixed(2) + ' kk') : ((character.balance/1000).toFixed(2) + ' k')) + ')' : '')}}</p>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0">
    <p-panel header="Vida / Mana" [toggleable]="true">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 health-bar pb-0">
          <div class="progress-container">
            <p-progressBar [value]="character.life/character.maxLife*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{character.life}} / {{character.maxLife}}</div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 mana-bar pb-0">
          <div class="progress-container">
            <p-progressBar [value]="character.mana/character.maxMana*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{character.mana}} / {{character.maxMana}}</div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0">
    <p-panel header="Skills" [toggleable]="true">
      <div class="grid">
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Sword" badge="{{character.sword}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Axe" badge="{{character.axe}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Club" badge="{{character.club}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Distance" badge="{{character.distance}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Shielding" badge="{{character.shielding}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Magic" badge="{{character.magicLevel}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-5">
    <p-panel header="Equipamentos" [toggleable]="true">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 pb-0 flex align-items-center justify-content-center">
          <p-button styleClass="custom-button p-button-secondary" *ngIf="!character.slot1Item">
            Helmet
          </p-button>
          <button pButton styleClass="custom-button p-button-primary" (click)="confirmEquipedItem($event, character.slot1Item)" *ngIf="character.slot1Item">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/items/{{character.slot1Item.imagePath}}" style="width: 2rem" >
            </span>
          </button>
        </div>
        <div class="col-4 md:col-4 lg:col-4 pb-0 flex align-items-center justify-content-center">
          <p-button styleClass="custom-button p-button-secondary" *ngIf="!character.slot2Item">
            Weapon
          </p-button>
          <button pButton styleClass="custom-button p-button-primary" (click)="confirmEquipedItem($event, character.slot2Item)" *ngIf="character.slot2Item">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/items/{{character.slot2Item.imagePath}}" style="width: 2rem" >
            </span>
          </button>
        </div>
        <div class="col-4 md:col-4 lg:col-4 pb-0 flex align-items-center justify-content-center">
          <p-button styleClass="custom-button p-button-secondary" *ngIf="!character.slot3Item">
            Armor
          </p-button>
          <button pButton styleClass="custom-button p-button-primary" (click)="confirmEquipedItem($event, character.slot3Item)" *ngIf="character.slot3Item">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/items/{{character.slot3Item.imagePath}}" style="width: 2rem" >
            </span>
          </button>
        </div>
        <div class="col-4 md:col-4 lg:col-4 pb-0 flex align-items-center justify-content-center">
          <p-button styleClass="custom-button p-button-secondary" *ngIf="!character.slot4Item">
            Shield
          </p-button>
          <button pButton styleClass="custom-button p-button-primary" (click)="confirmEquipedItem($event, character.slot4Item)" *ngIf="character.slot4Item">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/items/{{character.slot4Item.imagePath}}" style="width: 2rem" >
            </span>
          </button>
        </div>
        <div class="col-12 md:col-12 lg:col-12 pb-0 flex align-items-center justify-content-center">
          <p-button styleClass="custom-button p-button-secondary" *ngIf="!character.slot5Item">
            Legs
          </p-button>
          <button pButton styleClass="custom-button p-button-primary" (click)="confirmEquipedItem($event, character.slot5Item)" *ngIf="character.slot5Item">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/items/{{character.slot5Item.imagePath}}" style="width: 2rem" >
            </span>
          </button>
        </div>
        <div class="col-12 md:col-12 lg:col-12 pb-0 flex align-items-center justify-content-center">
          <p-button styleClass="custom-button p-button-secondary" *ngIf="!character.slot6Item">
            Boots
          </p-button>
          <button pButton styleClass="custom-button p-button-primary" (click)="confirmEquipedItem($event, character.slot6Item)" *ngIf="character.slot6Item">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/items/{{character.slot6Item.imagePath}}" style="width: 2rem" >
            </span>
          </button>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-5" *ngIf="character.items">
    <p-panel header="Depot" [toggleable]="true">
      <p-table [value]="character.items">
        <ng-template pTemplate="header">
          <tr>
            <th>Quant.</th>
            <th>Valor</th>
            <th>Item</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td class="pl-1 pr-1">
              <span class="image-text ml-2">{{item.quantity*item.item.gold}}</span>
              <span class="text-500"><img src="assets/gifs/items/Gold_Coin.gif" width="32" height="32" style="vertical-align: middle"/></span>
            </td>
            <td class="pl-1 pr-1">
              <p-button styleClass="custom-button p-button-info" badge="{{item.quantity}}" (click)="confirmUnequipedItem($event, item.item)">
                <span class="flex align-items-center font-bold">
                  <img src="assets/gifs/items/{{item.item.imagePath}}" style="width: 2rem" >
                </span>
              </p-button>
            </td>
            <td class="pl-1 pr-1">
              <p-button styleClass="custom-button p-button-primary" (click)="sellItem(item.item)">
                <span class="flex align-items-center font-bold">
                  Vender
                </span>
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>

</div>
<p-dialog header="Detalhes do Item" [(visible)]="showItemDetail" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
  <p><strong>Nome:</strong> {{ showItemDetailSelected?.name }}</p>
  <p><strong>Ataque:</strong> {{ showItemDetailSelected?.atk }}</p>
  <p><strong>Defesa:</strong> {{ showItemDetailSelected?.def }}</p>
  <p><strong>Armadura:</strong> {{ showItemDetailSelected?.armor }}</p>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" (click)="showItemDetail=false" label="Ok" class="p-button-outlined"></button>
  </ng-template>
</p-dialog>

<p-dialog header="" [(visible)]="loading" [modal]="true" showEffect="fade" [style]="{width: '100vw', height: '100vh'}">
  <p-progressSpinner ariaLabel="loading" />
</p-dialog>