<p-toast key="tst" [style]="{'white-space': 'pre-line'}"></p-toast>
<p-confirmPopup key="confirm2"></p-confirmPopup>
<div class="grid">
  <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="character.level >= 8 && character.vocationId === 1">
    <p-panel header="Escolha uma Vovação">
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 xl:col-3 pb-0">
          <button (click)="confirmVocation($event, 2)" pButton label="Knight" class="p-button-secondary w-full"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-3 xl:col-3 pb-0">
          <button (click)="confirmVocation($event, 3)" pButton label="Paladin" class="p-button-warning w-full"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-3 xl:col-3 pb-0">
          <button (click)="confirmVocation($event, 4)" pButton label="Druid" class="p-button-info w-full"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-3 xl:col-3 pb-0">
          <button (click)="confirmVocation($event, 5)" pButton label="Sorcerer" class="p-button-danger w-full"></button>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="character.level >= 20 && character.vocationId > 1 && character.vocationId < 6">
    <p-panel header="Promoção">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 xl:col-12 pb-0">
          <button (click)="confirmPromotion($event)" pButton label="{{labelPromotion}} - 20k" class="p-button-secondary w-full" [disabled]="character.balance < 20000"></button>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
    <p-panel header="Informações do Personagem" [toggleable]="true">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 font-tibia name-character pb-0 pt-0">
          {{ character.name }}
        </div>
        <div class="col-12 md:col-12 lg:col-12 health-bar p-1">
          <div class="progress-container">
            <p-progressBar [value]="character.life/character.maxLife*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{character.life}} / {{character.maxLife}}  ({{(character.life/character.maxLife*100).toFixed(0)}}%)</div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 mana-bar p-1">
          <div class="progress-container">
            <p-progressBar [value]="character.mana/character.maxMana*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{character.mana}} / {{character.maxMana}} ({{(character.mana/character.maxMana*100).toFixed(0)}}%)</div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 exp-bar p-1">
          <div class="progress-container">
            <p-progressBar [value]="(character.experience-expPreviousLevel)/(expNextLevel-expPreviousLevel)*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{character.experience}} / {{expNextLevel}} ({{((character.experience-expPreviousLevel)/(expNextLevel-expPreviousLevel)*100).toFixed(0)}}%)</div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 font-tibia name-character pb-0 pt-0">
          <img src="assets/img/Citizen_Male.gif" width="160" height="160"/>
        </div>
        <div class="col-6 md:col-6 lg:col-6 font-tibia sex-character pb-2 pt-0">
          <div class="grid">
            <div class="col-12 md:col-12 lg:col-12 font-tibia sex-character pb-2">
              {{ character.sex ? 'Feminino' : 'Masculino' }}
            </div>
            <div class="col-12 md:col-12 lg:col-12 font-tibia vocation-character pb-0 pt-0">
              {{ character.vocationId === 1 ? 'Sem Vocação' : 
              character.vocationId === 2 ? 'Knight' : 
              character.vocationId === 3 ? 'Paladin' : 
              character.vocationId === 4 ? 'Druid' :
              character.vocationId === 5 ? 'Sorcerer' :
              character.vocationId === 6 ? 'Elite Knight' : 
              character.vocationId === 7 ? 'Royal Paladin' : 
              character.vocationId === 8 ? 'Elder Druid' :
              'Master Sorcerer'}}
            </div>
          </div>
        </div>
        <div class="col-6 md:col-6 lg:col-6 font-tibia name-character pb-2 pt-1">
          <p-badge value="{{character.level}}" size="xlarge" severity="primary"></p-badge>
        </div>
        <div class="col-12 md:col-12 lg:col-12 pb-2">
          <div class="grid">
            <div class="col-3 md:col-3 lg:col-3 coin p-0 pb-2 pt-1">
              <span class="text-500"><img src="assets/gifs/items/Crystal_Coin.gif" width="40" height="40" style="vertical-align: middle"/></span>
              <span class="image-text ml-2">{{ getCoins(character.balance).crystal }}</span>
            </div>
            <div class="col-3 md:col-3 lg:col-3 coin p-0 pb-2 pt-1">
              <span class="text-500"><img src="assets/gifs/items/Platinum_Coin.gif" width="40" height="40" style="vertical-align: middle"/></span>
              <span class="image-text ml-2">{{ getCoins(character.balance).platinum }}</span>
            </div>
            <div class="col-3 md:col-3 lg:col-3 coin p-0 pb-2 pt-1">
              <span class="text-500"><img src="assets/gifs/items/Gold_Coin.gif" width="40" height="40" style="vertical-align: middle"/></span>
              <span class="image-text ml-2">{{ getCoins(character.balance).gold }}</span>
            </div>
            <div class="col-3 md:col-3 lg:col-3 p-0 pb-2 money-character" style="text-align:left">
              ({{ character.balance > 1000 ? (character.balance > 1000000000 ? ((character.balance/1000000000).toFixed(2) + ' kkk') : character.balance > 1000000 ? ((character.balance/1000000).toFixed(2) + ' kk') : ((character.balance/1000).toFixed(2) + ' k')) : ''}})
            </div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
    <p-panel header="Equipamentos" [toggleable]="true">
      <div class="grid">
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slotAmulet?.name || 'Sem Amuleto'}}" styleClass="p-0">
            <p-menu #menuAmulet [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slotAmulet)"></p-menu>
            <img src="assets/gifs/items/{{character.slotAmulet.imagePath}}" width="32" height="32" (click)="menuAmulet.toggle($event)" *ngIf="character.slotAmulet"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slot1Item?.name || 'Sem Helmo'}}" styleClass="p-0">
            <p-menu #menu1 [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slot1Item)"></p-menu>
            <img src="assets/gifs/items/{{character.slot1Item.imagePath}}" width="32" height="32" (click)="menu1.toggle($event)" *ngIf="character.slot1Item"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="Level" styleClass="p-0">
            <p-badge value="{{character.level}}" size="large" severity="primary"></p-badge>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slot2Item?.name || 'Sem Arma'}}" styleClass="p-0">
            <p-menu #menu2 [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slot2Item)"></p-menu>
            <img src="assets/gifs/items/{{character.slot2Item.imagePath}}" width="32" height="32" (click)="menu2.toggle($event)" *ngIf="character.slot2Item"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slot3Item?.name || 'Sem Armadura'}}" styleClass="p-0">
            <p-menu #menu3 [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slot3Item)"></p-menu>
            <img src="assets/gifs/items/{{character.slot3Item.imagePath}}" width="32" height="32" (click)="menu3.toggle($event)" *ngIf="character.slot3Item"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slot4Item?.name || 'Sem Escudo'}}" styleClass="p-0">
            <p-menu #menu4 [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slot4Item)"></p-menu>
            <img src="assets/gifs/items/{{character.slot4Item.imagePath}}" width="32" height="32" (click)="menu4.toggle($event)" *ngIf="character.slot4Item"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slotRing?.name || 'Sem Anel'}}" styleClass="p-0">
            <p-menu #menuRing [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slotRing)"></p-menu>
            <img src="assets/gifs/items/{{character.slotRing.imagePath}}" width="32" height="32" (click)="menuRing.toggle($event)" *ngIf="character.slotRing"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slot5Item?.name || 'Sem Calça'}}" styleClass="p-0">
            <p-menu #menu5 [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slot5Item)"></p-menu>
            <img src="assets/gifs/items/{{character.slot5Item.imagePath}}" width="32" height="32" (click)="menu5.toggle($event)" *ngIf="character.slot5Item"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slotAmmo?.name || 'Sem Municão'}}" styleClass="p-0">
            <p-menu #menuAmmo [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slotAmmo)"></p-menu>
            <img src="assets/gifs/items/{{character.slotAmmo.imagePath}}" width="32" height="32" (click)="menuAmmo.toggle($event)" *ngIf="character.slotAmmo"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{selectedSkillLabel}}" styleClass="p-0">
            <p-badge value="{{selectedSkillValue}}" size="large" severity="primary"></p-badge>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="{{character.slot6Item?.name || 'Sem Bota'}}" styleClass="p-0">
            <p-menu #menu6 [popup]="true" [model]="(equipedItemsMenu$ | async)!" appendTo="body" (onShow)="showEquipedItemsMenu(character.slot6Item)"></p-menu>
            <img src="assets/gifs/items/{{character.slot6Item.imagePath}}" width="32" height="32" (click)="menu6.toggle($event)" *ngIf="character.slot6Item"/>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="Shielding" styleClass="p-0">
            <p-badge value="{{character.shielding}}" size="large" severity="primary"></p-badge>
          </p-card>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
    <p-panel header="Skills" [toggleable]="true">
      <div class="grid">
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="Sword" styleClass="p-0">
            <p-badge value="{{character.sword}}" size="large" severity="primary"></p-badge>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="Axe" styleClass="p-0">
            <p-badge value="{{character.axe}}" size="large" severity="primary"></p-badge>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="Club" styleClass="p-0">
            <p-badge value="{{character.club}}" size="large" severity="primary"></p-badge>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="Distance" styleClass="p-0">
            <p-badge value="{{character.distance}}" size="large" severity="primary"></p-badge>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="Shielding" styleClass="p-0">
            <p-badge value="{{character.shielding}}" size="large" severity="primary"></p-badge>
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip">
          <p-card header="Magic Level" styleClass="p-0">
            <p-badge value=" {{character.magicLevel}} " size="large" severity="primary"></p-badge>
          </p-card>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="character.potions">
    <p-panel header="Potions" [toggleable]="true">
      <div class="grid">
        <div class="col-6 md:col-6 lg:col-6 p-1 equip" *ngFor="let potion of character.potions" [ngClass]="{'highlight':potion.highlight, 'highlight-red':potion.highlightRed}">
          <p-card header="{{potion.potion.name}}" styleClass="p-0" (click)="menu.toggle($event)">
            <p-menu #menu [popup]="true" [model]="(potionMenu$ | async)!" appendTo="body" (onShow)="showPotionMenu(potion)"></p-menu>
            <div class="image-container" style="position: relative; display: inline-block;">
              <img src="assets/gifs/potions/{{potion.potion.imagePath}}" width="32" height="32"/>
              <span pBadge value="{{potion.quantity}}" severity="primary" class="badge-overlay"></span>
            </div>
          </p-card>
        </div>
      </div>
    </p-panel>
  </div>

  <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="character.items?.length > 0">
    <p-panel header="Depot" [toggleable]="true">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 p-1 equip sell-all">
          <p-card header="Vender Todos" styleClass="p-0" (click)="confirmSellAll($event)">
          </p-card>
        </div>
        <div class="col-4 md:col-4 lg:col-4 p-1 equip" *ngFor="let item of character.items">
          <p-card header="{{item.item.name}}" styleClass="p-0" (click)="menuItem.toggle($event)">
            <p-menu #menuItem [popup]="true" [model]="(depotItemsMenu$ | async)!" appendTo="body" (onShow)="showDepotItemsMenu(item.item, item.quantity)"></p-menu>
            <div class="image-container" style="position: relative; display: inline-block;">
              <img src="assets/gifs/items/{{item.item.imagePath}}" width="32" height="32"/>
              <span pBadge value="{{item.quantity}}" severity="primary" class="badge-overlay"></span>
            </div>
          </p-card>
        </div>
      </div>
    </p-panel>
  </div>

</div>

<p-dialog header="{{showItemDetailSelected?.name}}" [(visible)]="showItemDetail" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '90vw'}">
  <div class="grid" *ngIf="showItemDetail">
    <div class="col-12 md:col-12 pb-4" style="text-align: center;">
      <img src="assets/gifs/items/{{showItemDetailSelected?.imagePath}}" alt="Item Image" class="item-image" />
    </div>
    <div class="col-12 md:col-12 pb-4" style="text-align: center;">
      Informações Básicas
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Ataque" styleClass="p-0">
        <p-badge value=" {{showItemDetailSelected?.atk}} " size="large" severity="primary" class="pr-1" [ngClass]="{'badge-physical':showItemDetailSelected.atk == 0}"></p-badge>
        <p-badge value="+{{showItemDetailSelected?.fireDamage}}" size="large" class="badge-fire" *ngIf="showItemDetailSelected?.fireDamage"></p-badge>
        <p-badge value="+{{showItemDetailSelected?.iceDamage}}" size="large" class="badge-ice" *ngIf="showItemDetailSelected?.iceDamage"></p-badge>
        <p-badge value="+{{showItemDetailSelected?.earthDamage}}" size="large" class="badge-earth" *ngIf="showItemDetailSelected?.earthDamage"></p-badge>
        <p-badge value="+{{showItemDetailSelected?.energyDamage}}" size="large" class="badge-energy" *ngIf="showItemDetailSelected?.energyDamage"></p-badge>
        <p-badge value="+{{showItemDetailSelected?.deathDamage}}" size="large" class="badge-death" *ngIf="showItemDetailSelected?.deathDamage"></p-badge>
        <p-badge value="+{{showItemDetailSelected?.holyDamage}}" size="large" class="badge-holy" *ngIf="showItemDetailSelected?.holyDamage"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Armadura" styleClass="p-0">
        <p-badge value=" {{showItemDetailSelected?.armor}} " size="large" severity="primary" [ngClass]="{'badge-physical':showItemDetailSelected.armor == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Defesa" styleClass="p-0">
        <p-badge value=" {{showItemDetailSelected?.def}} " size="large" severity="primary" [ngClass]="{'badge-physical':showItemDetailSelected.def == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-12 md:col-12 pb-4" style="text-align: center;">
      Bônus de Skill
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Sword" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.bonusSword > 0 ? '+' + showItemDetailSelected?.bonusSword : 0}} " size="large" severity="primary" [ngClass]="{'badge-physical':showItemDetailSelected.bonusSword == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Axe" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.bonusAxe > 0 ? '+' + showItemDetailSelected?.bonusAxe : 0}} " size="large" severity="primary" [ngClass]="{'badge-physical':showItemDetailSelected.bonusAxe == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Club" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.bonusClub > 0 ? '+' + showItemDetailSelected?.bonusClub : 0}} " size="large" severity="primary" [ngClass]="{'badge-physical':showItemDetailSelected.bonusClub == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Distance" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.bonusDistance > 0 ? '+' + showItemDetailSelected?.bonusDistance : 0}} " size="large" severity="primary" [ngClass]="{'badge-physical':showItemDetailSelected.bonusDistance == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Shielding" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.bonusShielding > 0 ? '+' + showItemDetailSelected?.bonusShielding : 0}} " size="large" severity="primary" [ngClass]="{'badge-physical':showItemDetailSelected.bonusShielding == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Magic Level" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.bonusMagicLevel > 0 ? '+' + showItemDetailSelected?.bonusMagicLevel : 0}} " size="large" severity="primary" [ngClass]="{'badge-physical':showItemDetailSelected.bonusMagicLevel == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-12 md:col-12 pb-4" style="text-align: center;">
      Resistências
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Fogo" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.fireResistance > 0 ? '+' + showItemDetailSelected?.fireResistance + '%' : showItemDetailSelected?.fireResistance + '%'}} " size="large" class="badge-fire" [ngClass]="{'badge-physical':showItemDetailSelected.fireResistance == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Gelo" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.iceResistance > 0 ? '+' + showItemDetailSelected?.iceResistance + '%' : showItemDetailSelected?.iceResistance + '%'}} " size="large" class="badge-ice" [ngClass]="{'badge-physical':showItemDetailSelected.iceResistance == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Terra" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.earthResistance > 0 ? '+' + showItemDetailSelected?.earthResistance + '%' : showItemDetailSelected?.earthResistance + '%'}} " size="large" class="badge-earth" [ngClass]="{'badge-physical':showItemDetailSelected.earthResistance == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Energia" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.energyResistance > 0 ? '+' + showItemDetailSelected?.energyResistance + '%' : showItemDetailSelected?.energyResistance + '%'}} " size="large" class="badge-energy" [ngClass]="{'badge-physical':showItemDetailSelected.energyResistance == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Morte" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.deathResistance > 0 ? '+' + showItemDetailSelected?.deathResistance + '%' : showItemDetailSelected?.deathResistance + '%'}} " size="large" class="badge-death" [ngClass]="{'badge-physical':showItemDetailSelected.deathResistance == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Divino" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.holyResistance > 0 ? '+' + showItemDetailSelected?.holyResistance + '%' : showItemDetailSelected?.holyResistance + '%'}} " size="large" class="badge-holy" [ngClass]="{'badge-physical':showItemDetailSelected.holyResistance == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Físico" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.physicalResistance > 0 ? '+' + showItemDetailSelected?.physicalResistance + '%' : showItemDetailSelected?.physicalResistance + '%'}} " size="large" class="badge-physical" [ngClass]="{'badge-physical':showItemDetailSelected.physicalResistance == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-12 md:col-12 pb-4" style="text-align: center;">
      Outras Informações
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Vida por segundo" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.countHealing > 0 ? '+' + showItemDetailSelected?.countHealing : 0}} " size="large" class="badge-fire" [ngClass]="{'badge-physical':showItemDetailSelected.countHealing == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Mana por segundo" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.countMana > 0 ? '+' + showItemDetailSelected?.countMana : 0}} " size="large" class="badge-ice" [ngClass]="{'badge-physical':showItemDetailSelected.countMana == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-4 md:col-4 lg:col-4 p-1 equip">
      <p-card header="Velocidade" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.bonusSpeed > 0 ? '+' + showItemDetailSelected?.bonusSpeed : 0}} " size="large" class="badge-holy" [ngClass]="{'badge-physical':showItemDetailSelected.bonusSpeed == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-6 md:col-6 lg:col-6 p-1 equip">
      <p-card header="Slots Imbuements" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.imbuementsSlots > 0 ? showItemDetailSelected?.imbuementsSlots : 0}} " size="large" class="primary" [ngClass]="{'badge-physical':showItemDetailSelected.imbuementsSlots == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-6 md:col-6 lg:col-6 p-1 equip">
      <p-card header="Max Tier" styleClass="p-0">
        <p-badge value="{{showItemDetailSelected?.maxTier > 0 ? showItemDetailSelected?.maxTier : 0}} " size="large" class="primary" [ngClass]="{'badge-physical':showItemDetailSelected.maxTier == 0}"></p-badge>
      </p-card>
    </div>
    <div class="col-12 md:col-12 pb-4" style="text-align: center;"></div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" (click)="showItemDetail=false" label="Ok" class="p-button-outlined"></button>
  </ng-template>
</p-dialog>

<div class="loading-overlay" *ngIf="loading">
  <div class="loading-spinner"></div>
</div>