<p-toast key="tst" [style]="{'white-space': 'pre-line'}"></p-toast>
<p-messages [value]="msgs"></p-messages>
<div class="grid" *ngIf="!character.huntOfflineDate">
  <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
    <p-panel [toggleable]="true">
      <ng-template pTemplate="header">
        <div class="header-content">
          <strong>
            Vida / Mana / Exp
          </strong>
          <p-badge value="{{character.level}}" size="large" severity="primary" class="ml-5"></p-badge>
        </div>
      </ng-template>
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 health-bar pb-0">
          <div class="progress-container">
            <p-progressBar [value]="character.life/character.maxLife*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{character.life}} / {{character.maxLife}}</div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 mana-bar pb-0">
          <div class="progress-container">
            <p-progressBar [value]="character.mana/character.maxMana*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{character.mana}} / {{character.maxMana}}</div>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12 exp-bar pb-0">
          <div class="progress-container">
            <p-progressBar [value]="(character.experience-expPreviousLevel)/(expNextLevel-expPreviousLevel)*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{character.experience}} / {{expNextLevel}} {{calculateTimeToNextLevel() != undefined ? ' (' + calculateTimeToNextLevel() + ')' : ''}}</div>
          </div>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="usePotionsHealing || usePotionsMana">
    <p-panel header="Potions/Spells" [toggleable]="true">
      <div class="grid">
        <div class="col-6 md:col-6 lg:col-6 xl:col-6 pb-0" *ngIf="usePotionsHealing">
          <p-button badge="{{selectedPotionHealing.quantity}}" styleClass="w-full p-button-danger">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/potions/{{selectedPotionHealing.potion.imagePath}}" style="width: 2rem" >
            </span>
          </p-button>
        </div>
        <div class="col-6 md:col-6 lg:col-6 xl:col-6 pb-0" *ngIf="usePotionsMana">
          <p-button badge="{{selectedPotionMana.quantity}}" styleClass="w-full p-button-info">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/potions/{{selectedPotionMana.potion.imagePath}}" style="width: 2rem" >
            </span>
          </p-button>
        </div>
        <div class="col-6 md:col-6 lg:col-6 xl:col-6 pb-0" *ngIf="useSpellHealing">
          <p-button styleClass="w-full p-button-danger">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/spells/{{selectedSpellHeal.imagePath}}" style="width: 2rem" >
            </span>
          </p-button>
        </div>
        <div class="col-6 md:col-6 lg:col-6 xl:col-6 pb-0" *ngIf="useSpellStrike">
          <p-button styleClass="w-full p-button-info">
            <span class="flex align-items-center font-bold">
              <img src="assets/gifs/spells/{{selectedSpellStrike.imagePath}}" style="width: 2rem" >
            </span>
          </p-button>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="!statusHunt">
    <p-panel header="Equipamentos" [toggleable]="true" [collapsed]="true">
      <div class="grid">
        <div class="col-4 md:col-4 lg:col-2 pb-0" *ngIf="character.slot1Item">
          <p-chip label="{{character.slot1Item.name}}" image="assets/gifs/items/{{character.slot1Item.imagePath}}" styleClass="m-1 w-full" ></p-chip>
        </div>
        <div class="col-4 md:col-4 lg:col-2 pb-0" *ngIf="character.slot2Item">
          <p-chip label="{{character.slot2Item.name}}" image="assets/gifs/items/{{character.slot2Item.imagePath}}" styleClass="m-1 w-full" ></p-chip>
        </div>
        <div class="col-4 md:col-4 lg:col-2 pb-0" *ngIf="character.slot3Item">
          <p-chip label="{{character.slot3Item.name}}" image="assets/gifs/items/{{character.slot3Item.imagePath}}" styleClass="m-1 w-full" ></p-chip>
        </div>
        <div class="col-4 md:col-4 lg:col-2 pb-0" *ngIf="character.slot4Item">
          <p-chip label="{{character.slot4Item.name}}" image="assets/gifs/items/{{character.slot4Item.imagePath}}" styleClass="m-1 w-full" ></p-chip>
        </div>
        <div class="col-4 md:col-4 lg:col-2 pb-0" *ngIf="character.slot5Item">
          <p-chip label="{{character.slot5Item.name}}" image="assets/gifs/items/{{character.slot5Item.imagePath}}" styleClass="m-1 w-full" ></p-chip>
        </div>
        <div class="col-4 md:col-4 lg:col-2 pb-0" *ngIf="character.slot6Item">
          <p-chip label="{{character.slot6Item.name}}" image="assets/gifs/items/{{character.slot6Item.imagePath}}" styleClass="m-1 w-full" ></p-chip>
        </div>
        <div class="col-4 md:col-4 lg:col-2 pb-0" *ngIf="character.slotAmmo">
          <p-chip label="{{character.slotAmmo.name}}" image="assets/gifs/items/{{character.slotAmmo.imagePath}}" styleClass="m-1 w-full" ></p-chip>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="!statusHunt">
    <p-panel header="Skills" [toggleable]="true" [collapsed]="true">
      <div class="grid">
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Sword" badge="{{character.sword}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Axe" badge="{{character.axe}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Club" badge="{{character.club}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Distance" badge="{{character.distance}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Shielding" badge="{{character.shielding}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
        <div class="col-6 md:col-4 lg:col-4 xl:col-2 pb-0">
          <p-button label="Magic" badge="{{character.magicLevel}}" styleClass="w-full p-button-secondary"></p-button>
        </div>
      </div>
    </p-panel>
  </div>
	<div class="col-12 md:col-12 pb-5 pl-0 pr-0">
		<div class="card" *ngIf="!statusHunt">
      <h5>Caçar</h5>
      <div class="grid">
        <div class="col-12 md:col-12 pl-0 pr-0">
          <p-dropdown 
            [options]="creatures" 
            optionLabel="creature.name" 
            [(ngModel)]="selectedCreature"
            placeholder="Selecione a criatura"
            styleClass="w-full"
            [filter]="true"
            filterBy="creature.name"
            [autofocusFilter]="false"
            id="creature">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center p-0 font-tibia" *ngIf="selectedCreature">
                <div class="grid">
                  <div class="col-9 md:col-9 pb-1 pl-3" style="text-align: center;">
                    <div>{{ selectedCreature.creature.name }}</div>
                  </div>
                  <div class="col-3 md:col-3 pb-1" style="text-align: center;"></div>
                  <div class="col-9 md:col-9">
                    <div class="grid">
                      <div class="col-12 md:col-12 pb-0 pt-1">
                        <p-tag severity="success" value="{{selectedCreature.creature.expHour}} exp/h" *ngIf="selectedCreature.creature.expHour" class="w-full"></p-tag>
                        <p-tag severity="secondary" value="Você nunca matou essa criatura" *ngIf="!selectedCreature.creature.expHour" class="w-full inactive"></p-tag>
                      </div>
                      <div class="col-12 md:col-12 pb-0 pt-1">
                        <p-tag severity="danger" value="❤️ Vida: {{selectedCreature.creature.life}}"></p-tag>
                      </div>
                      <div class="col-12 md:col-12 pb-0 pt-1 exp">
                        <p-tag severity="help" value="⭐ Exp: {{selectedCreature.creature.experience}}"></p-tag>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 md:col-3 p-0">
                    <img src="assets/gifs/creatures/{{selectedCreature.creature.imagePath}}" alt="{{selectedCreature.creature.name}}" width="64" height="64"/>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template let-creature pTemplate="item">
                <!-- <div class="flex align-items-center gap-2">
                  <p-tag severity="info" value="{{creature.creature.expHour}} exp/h" *ngIf="creature.creature.expHour"></p-tag>
                  <img src="assets/gifs/creatures/{{creature.creature.imagePath}}" alt="{{creature.creature.name}}" width="32" height="32"/>
                  <div>{{ creature.creature.name }}</div>
                </div> -->
                <div class="flex align-items-center p-0 font-tibia">
                  <div class="grid">
                    <div class="col-9 md:col-9 pb-1 pl-3" style="text-align: center;">
                      <div>{{ creature.creature.name }}</div>
                    </div>
                    <div class="col-3 md:col-3 pb-1" style="text-align: center;"></div>
                    <div class="col-9 md:col-9">
                      <div class="grid">
                        <div class="col-12 md:col-12 pb-0 pt-1">
                          <p-tag severity="success" value="{{creature.creature.expHour}} exp/h" *ngIf="creature.creature.expHour" class="w-full"></p-tag>
                          <p-tag severity="secondary" value="Você nunca matou essa criatura" *ngIf="!creature.creature.expHour" class="w-full inactive"></p-tag>
                        </div>
                        <div class="col-12 md:col-12 pb-0 pt-1">
                          <p-tag severity="danger" value="❤️ Vida: {{creature.creature.life}}"></p-tag>
                        </div>
                        <div class="col-12 md:col-12 pb-0 pt-1 exp">
                          <p-tag severity="help" value="⭐ Exp: {{creature.creature.experience}}"></p-tag>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 md:col-3 p-0">
                      <img src="assets/gifs/creatures/{{creature.creature.imagePath}}" alt="{{creature.creature.name}}" width="64" height="64"/>
                    </div>
                  </div>
                </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-6 md:col-6 pl-5 pr-0" style="text-align: left;" *ngIf="selectedCreature">
          Dano básico
        </div>
        <div class="col-6 md:col-6 pl-0 pr-0" style="text-align: center;" *ngIf="selectedCreature">
          Min: {{selectedCreature.creature.minDamage}} / Max: {{selectedCreature.creature.maxDamage}}
        </div>
        <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="selectedCreature?.creature?.damages?.length > 0">
          <p-panel header="Danos de Habilidades" [toggleable]="true" [collapsed]="true">
            <p-table [value]="selectedCreature.creature.damages">
              <ng-template pTemplate="header">
                <tr>
                  <th style="text-align: center;">Dano</th>
                  <th style="text-align: center;">Minimo</th>
                  <th style="text-align: center;">Maximo</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-damage>
                <tr>
                  <td style="text-align: center;">
                    <span *ngIf="damage.type === 'healing'">
                      Cura
                    </span>
                    <img src="assets/gifs/effects/Heal_Icon.png" width="20" *ngIf="damage.type === 'healing'">
                    <span *ngIf="damage.type === 'life drain'">
                      Roubo Vida
                    </span>
                    <img src="assets/gifs/effects/Life_Drain_Icone.gif" width="20" *ngIf="damage.type === 'life drain'">
                    <span *ngIf="damage.type === 'mana drain'">
                      Roubo Mana
                    </span>
                    <img src="assets/gifs/effects/Mana_Drain_Icone.gif" width="20" *ngIf="damage.type === 'mana drain'">
                    <span  *ngIf="damage.type === 'burning' || damage.type === 'fire'">
                      Flam
                    </span>
                    <img src="assets/gifs/effects/Burning_Icon.gif" width="20" *ngIf="damage.type === 'burning' || damage.type === 'fire'">
                    <span *ngIf="damage.type === 'death'">
                      Mort
                    </span>
                    <img src="assets/gifs/effects/Cursed_Icon.gif" width="20" *ngIf="damage.type === 'death'">
                    <span *ngIf="damage.type === 'energy'">
                      Vis
                    </span>
                    <img src="assets/gifs/effects/Electrified_Icon.gif" width="20" *ngIf="damage.type === 'energy'">
                    <span *ngIf="damage.type === 'ice'">
                      Frigo
                    </span>
                    <img src="assets/gifs/effects/Freezing_Icon.gif" width="20" *ngIf="damage.type === 'ice'">
                    <span *ngIf="damage.type === 'earth' || damage.type === 'poison'">
                      Tera
                    </span>
                    <img src="assets/gifs/effects/Poisoned_Icon.gif" width="20" *ngIf="damage.type === 'earth' || damage.type === 'poison'">
                    <span *ngIf="damage.type === 'distance' || damage.type === 'strike'">
                      Físico
                    </span>
                    <img src="assets/gifs/effects/Físico.png" width="20" *ngIf="damage.type === 'distance' || damage.type === 'strike'">
                  </td>
                  <td style="text-align: center;">
                    {{damage.minDamage}}
                  </td>
                  <td style="text-align: center;">
                    {{damage.maxDamage}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-panel>
        </div>
        <div class="col-12 md:col-12 pb-0 pl-0 pr-0" *ngIf="selectedCreature?.creature?.items?.length > 0">
          <p-panel header="Loot" [toggleable]="true" [collapsed]="true">
            <p-table [value]="selectedCreature.creature.items">
              <ng-template pTemplate="header">
                <tr>
                  <th>Item</th>
                  <th>Raridade</th>
                  <th>Valor</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    <img src="assets/gifs/items/{{item.item.imagePath}}" width="30">
                  </td>
                  <td>
                    <p-tag severity="primary" value="Comum" *ngIf="item.rate === 'comum'"></p-tag>
                    <p-tag severity="info" value="Incomum" *ngIf="item.rate === 'incomum'"></p-tag>
                    <p-tag severity="warning" value="Raro" *ngIf="item.rate === 'raro'"></p-tag>
                    <p-tag severity="danger" value="Ultra" *ngIf="item.rate === 'ultra'"></p-tag>
                  </td>
                  <td>
                    <span class="image-text ml-2">{{item.item.gold}}</span>
                    <img src="assets/gifs/items/Gold_Coin.gif" width="30" style="vertical-align: middle"/>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-panel>
        </div>
        <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
          <p-panel header="Configurações / Macro" [toggleable]="true" [collapsed]="true">
            <!-- LIFE POTE -->
            <div class="col-12 md:col-12" *ngIf="potionsHealing.length > 0">
              <label for="usePotionsBtn" class="block text-900 text-xl font-medium mb-2">Usar Potions de Cura?</label>
              <p-toggleButton id="usePotionsBtn" onLabel="Sim" offLabel="Não" [style]="{'width': '10em'}" [(ngModel)]="usePotionsHealing" styleClass="w-full"></p-toggleButton>
            </div>
            <div class="col-12 md:col-12 pb-0" *ngIf="potionsHealing?.length > 0 && usePotionsHealing">
              <p-dropdown 
                *ngIf="usePotionsHealing"
                [options]="potionsHealing" 
                optionLabel="name" 
                [(ngModel)]="selectedPotionHealing"
                placeholder="Selecione a potion de cura"
                styleClass="w-full"
                id="usePotionHealingDropDown">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="selectedPotionHealing">
                    <img src="assets/gifs/potions/{{selectedPotionHealing.potion.imagePath}}" alt="{{selectedPotionHealing.potion.name}}" width="32" height="32"/>
                    <div>{{ selectedPotionHealing.potion.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-potion pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <img src="assets/gifs/potions/{{potion.potion.imagePath}}" alt="{{potion.potion.name}}" width="32" height="32"/>
                      <div>{{ potion.potion.name }}</div>
                    </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-12 md:col-12" *ngIf="potionsHealing?.length > 0 && usePotionsHealing">
              <label for="potionHealingUntil" class="block text-900 text-xl font-medium mb-2">Usar com quanto de vida?</label>
              <div>
                <input type="text" pInputText [(ngModel)]="lifeToUsePotion" class="w-full mb-3" readonly id="potionHealingUntil"/>
                <p-slider id="slid3" [(ngModel)]="lifeToUsePotion" class="w-full" [min]="10" [max]="character.maxLife"/>
              </div>
            </div>
            <!-- MANA POTE -->
            <div class="col-12 md:col-12" *ngIf="potionsMana.length > 0">
              <label for="usePotionsBtn2" class="block text-900 text-xl font-medium mb-2">Usar Potions de Mana?</label>
              <p-toggleButton id="usePotionsBtn2" onLabel="Sim" offLabel="Não" [style]="{'width': '10em'}" [(ngModel)]="usePotionsMana" styleClass="w-full"></p-toggleButton>
            </div>
            <div class="col-12 md:col-12 pb-0" *ngIf="potionsMana?.length > 0 && usePotionsMana">
              <p-dropdown 
                *ngIf="usePotionsMana"
                [options]="potionsMana" 
                optionLabel="name" 
                [(ngModel)]="selectedPotionMana"
                placeholder="Selecione a potion de cura"
                styleClass="w-full"
                id="usePotionManaDropDown">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="selectedPotionMana">
                    <img src="assets/gifs/potions/{{selectedPotionMana.potion.imagePath}}" alt="{{selectedPotionMana.potion.name}}" width="32" height="32"/>
                    <div>{{ selectedPotionMana.potion.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-potion pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <img src="assets/gifs/potions/{{potion.potion.imagePath}}" alt="{{potion.potion.name}}" width="32" height="32"/>
                      <div>{{ potion.potion.name }}</div>
                    </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-12 md:col-12" *ngIf="potionsMana?.length > 0 && usePotionsMana">
              <label for="potionManaUntil" class="block text-900 text-xl font-medium mb-2">Usar com quanto de mana?</label>
              <div>
                <input type="text" pInputText [(ngModel)]="manaToUsePotion" class="w-full mb-3" readonly id="potionManaUntil"/>
                <p-slider id="slid4" [(ngModel)]="manaToUsePotion" class="w-full" [min]="10" [max]="character.maxMana"/>
              </div>
            </div>
            <!-- SPELL LIFE -->
            <div class="col-12 md:col-12 pb-0" *ngIf="spellsHeal?.length > 0">
              <label for="useSpellHealingBtn" class="block text-900 text-xl font-medium mb-2">Usar Magica de Cura?</label>
              <p-toggleButton id="useSpellHealingBtn" onLabel="Sim" offLabel="Não" [style]="{'width': '10em'}" [(ngModel)]="useSpellHealing" styleClass="w-full"></p-toggleButton>
            </div>
            <div class="col-12 md:col-12 pb-0" *ngIf="spellsHeal?.length > 0 && useSpellHealing">
              <p-dropdown 
                *ngIf="useSpellHealing"
                [options]="spellsHeal" 
                optionLabel="name" 
                [(ngModel)]="selectedSpellHeal"
                placeholder="Selecione a magia"
                styleClass="w-full"
                id="useSpellHealingDropDown">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="selectedSpellHeal">
                    <img src="assets/gifs/spells/{{selectedSpellHeal.imagePath}}" alt="{{selectedSpellHeal.spell}}" width="32" height="32"/>
                    <div>"{{ selectedSpellHeal.spell }}" - Mana: {{selectedSpellHeal.manaRequired}}</div>
                  </div>
                </ng-template>
                <ng-template let-spell pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <img src="assets/gifs/spells/{{spell.imagePath}}" alt="{{spell.spell}}" width="32" height="32"/>
                      <div>"{{ spell.spell }}" - Mana: {{spell.manaRequired}}</div>
                    </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-12 md:col-12" *ngIf="spellsHeal?.length > 0 && useSpellHealing">
              <label for="spellUntil" class="block text-900 text-xl font-medium mb-2">Usar com quanto de vida?</label>
              <div>
                <input type="text" pInputText [(ngModel)]="lifeToUseSpell" class="w-full mb-3" readonly id="spellUntil"/>
                <p-slider id="slid12" [(ngModel)]="lifeToUseSpell" class="w-full" [min]="10" [max]="character.maxLife"/>
              </div>
            </div>
            <!-- SPELL STRIKE -->
            <div class="col-12 md:col-12 pb-0" *ngIf="spellsStrike?.length > 0">
              <label for="useSpellStrikeBtn" class="block text-900 text-xl font-medium mb-2">Usar Magica de Ataque?</label>
              <p-toggleButton id="useSpellStrikeBtn" onLabel="Sim" offLabel="Não" [style]="{'width': '10em'}" [(ngModel)]="useSpellStrike" styleClass="w-full"></p-toggleButton>
            </div>
            <div class="col-12 md:col-12 pb-0" *ngIf="spellsStrike?.length > 0 && useSpellStrike">
              <p-dropdown 
                *ngIf="useSpellStrike"
                [options]="spellsStrike" 
                optionLabel="name" 
                [(ngModel)]="selectedSpellStrike"
                placeholder="Selecione a magia"
                styleClass="w-full"
                id="useSpellStrikeDropDown">
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="selectedSpellStrike">
                    <img src="assets/gifs/spells/{{selectedSpellStrike.imagePath}}" alt="{{selectedSpellStrike.spell}}" width="32" height="32"/>
                    <div>"{{ selectedSpellStrike.spell }}" - Mana: {{selectedSpellStrike.manaRequired}}</div>
                  </div>
                </ng-template>
                <ng-template let-spell pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <img src="assets/gifs/spells/{{spell.imagePath}}" alt="{{spell.spell}}" width="32" height="32"/>
                      <div>"{{ spell.spell }}" - Mana: {{spell.manaRequired}}</div>
                    </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-12 md:col-12" *ngIf="spellsStrike?.length > 0 && useSpellStrike">
              <label for="spellUntil2" class="block text-900 text-xl font-medium mb-2">Usar com a mana acima de?</label>
              <div>
                <input type="text" pInputText [(ngModel)]="manaToUseSpell" class="w-full mb-3" readonly id="spellUntil2"/>
                <p-slider id="slid11" [(ngModel)]="manaToUseSpell" class="w-full" [min]="10" [max]="character.maxMana"/>
              </div>
            </div>
            <div class="col-12 md:col-12">
              <label for="huntStyle" class="block text-900 text-xl font-medium mb-2">Estilo</label>
              <p-selectButton id="huntStyle" [options]="huntStyle" [(ngModel)]="huntStyleSelected" optionLabel="name"></p-selectButton>
            </div>
            <div class="col-12 md:col-12 pb-0">
              <label for="huntUntil" class="block text-900 text-xl font-medium mb-2">Parar com quanto de vida?</label>
              <div>
                <input type="text" pInputText [(ngModel)]="minLife" class="w-full mb-3" readonly id="huntUntil"/>
                <p-slider id="slid2" [(ngModel)]="minLife" class="w-full" [min]="10" [max]="character.maxLife"/>
              </div>
            </div>
          </p-panel>
        </div>
        <div class="col-12 md:col-12 pb-0 pl-0 pr-0">
          <button label="Iniciar" pButton pRipple (click)="startHunt(character)" class="w-full" [disabled]="!selectedCreature"></button>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="statusHunt">
      <h5>Caçando</h5>
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12 health-bar pb-3">
          <div class="progress-container">
            <p-progressBar [value]="monster.life/monster.maxLife*100" [showValue]="false"></p-progressBar>
            <div class="progress-text">{{monster.life}} / {{monster.maxLife}}</div>
          </div>
        </div>
        <div class="col-12 md:col-12">
          <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Matou</span>
                    <div class="text-900 font-medium text-xl">{{countMonsterKill}}</div>
                </div>
                <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                  <img src="assets/gifs/creatures/{{selectedCreature.creature.imagePath}}" alt="{{selectedCreature.name}}" width="64" height="64"/>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{totalExpEarned}} </span>
            <span class="text-500">Exp</span>
            <span class="text-green-500 font-medium pl-3">{{avgExpHour}} </span>
            <span class="text-500">Exp/h</span>
            <span class="text-green-500 font-medium pl-3">{{totalGoldEarned}} </span>
            <span class="text-500"><img src="assets/gifs/items/Gold_Coin.gif" width="32" height="32" style="vertical-align: middle"/></span>
          </div>
        </div>
        <div class="col-12 md:col-12" *ngIf="stats?.length > 0">
          <p-panel header="Estatística Round a Round" [toggleable]="true">
            <p-table [value]="stats">
              <ng-template pTemplate="header">
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-stat>
                <tr>
                  <td>
                    <span class="image-text ml-2">{{stat.label}}</span>
                  </td>
                  <td>
                    <span class="image-text ml-2">{{stat.value}}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-panel>
        </div>
        <div class="col-12 md:col-12" *ngIf="lootDrop?.length > 0">
          <p-panel header="Loot" [toggleable]="true">
            <p-table [value]="lootDrop">
              <ng-template pTemplate="header">
                <tr>
                  <th>Item</th>
                  <th>Quantidade</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr>
                  <td>
                    <img src="assets/gifs/items/{{item.item.imagePath}}" width="30">
                  </td>
                  <td>
                    <span class="image-text ml-2">{{item.quantity}}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-panel>
        </div>
        <div class="col-12 md:col-12 pb-0">
          <button label="Cancelar" pButton pRipple class="w-full p-button-danger" (click)="cancelHunt()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid" *ngIf="character.huntOfflineDate">
  <div class="col-12 md:col-12 pb-0">
    <p>
      Seu personagem está caçando offline.
    </p>
    <p>
      Tempo restante: {{formatTime((character.huntOfflineTimeInHours*60*60) - getDifferenceFromNowInSeconds(this.character.huntOfflineDate))}}
    </p>
  </div>
</div>